# .check* files are needed so .PHONY dependencies in makefile aren't
# built each time you try to make the target (only if the target
# dependencies, like source files, changed)
.check*

# .eval_* files are placeholders as .check* above, but focused on
# the evaluation of the target, not failing the build if the target
# is not found
.eval_*

# needed for the makefile btfhub building logic
*.md5

# ignore local and temporary packaging files
debian
.ubuntu*
.package*
tracee.spec

# ignore Helm subcharts
deploy/helm/tracee/charts/

# dev related files
.vscode
.idea
coverage.txt
compile_commands.json
.cache*
.trunk*
.vagrant
goenv.mk

# binaries and build files
dist

# release files
release_notes.txt
