severity = "warning"
confidence = 0.8
errorCode = 1
warningCode = 1

# Enable all available rules
enableAllRules = true

[rule.add-constant]
    Disabled = true
[rule.argument-limit]
    Disabled = true # TODO: consider enabling this
[rule.atomic]
    Disabled = false
[rule.bare-return]
    Disabled = false
[rule.banned-characters]
    Disabled = true
[rule.blank-imports]
    Disabled = false
[rule.bool-literal-in-expr]
    Disabled = false
[rule.call-to-gc]
    Disabled = false
[rule.confusing-naming]
    Disabled = true # TODO: consider enabling this
[rule.comment-spacings]
    Disabled = false
[rule.confusing-results]
    Disabled = false
[rule.cognitive-complexity]
    Disabled = true # TODO: consider enabling this
[rule.constant-logical-expr]
    Disabled = false
[rule.context-as-argument]
    Disabled = false
[rule.context-keys-type]
    Disabled = false
[rule.cyclomatic]
    Disabled = true # TODO: consider enabling this
[rule.datarace]
    Disabled = false
[rule.deep-exit]
    Disabled = true # TODO: consider enabling this
[rule.defer]
    Disabled = false
[rule.dot-imports]
    Disabled = false
[rule.duplicated-imports]
    Disabled = false
[rule.early-return]
    Disabled = false
[rule.empty-block]
    Disabled = false
[rule.empty-lines]
    Disabled = false
[rule.error-naming]
    Disabled = false
[rule.error-return]
    Disabled = false
[rule.error-strings]
    Disabled = false
[rule.errorf]
    Disabled = false
[rule.exported]
    Disabled = true # TODO: add comments to exported functions
[rule.file-header]
    Disabled = true
[rule.flag-parameter]
    Disabled = true
[rule.function-result-limit]
    Disabled = false
    arguments = [3]
[rule.function-length]
    Disabled = true # TODO: consider enabling this
[rule.get-return]
    Disabled = false
[rule.identical-branches]
    Disabled = false
[rule.if-return]
    Disabled = false
[rule.increment-decrement]
    Disabled = false
[rule.indent-error-flow]
    Disabled = false
[rule.max-control-nesting]
    arguments = [15]
[rule.import-shadowing]
    Disabled = false
[rule.line-length-limit]
    Disabled = true # TODO: set max length to 100 max
    arguments = [100]
[rule.max-public-structs]
    Disabled = true # TODO: consider enabling this
    arguments = [5]
[rule.modifies-parameter]
    Disabled = false
[rule.modifies-value-receiver]
    Disabled = false
[rule.nested-structs]
    Disabled = false
[rule.optimize-operands-order]
    Disabled = false
[rule.package-comments]
    Disabled = true # TODO: add comments to all packages
[rule.range]
    Disabled = false
[rule.range-val-in-closure]
    Disabled = false
[rule.range-val-address]
    Disabled = false
[rule.receiver-naming]
    Disabled = false
[rule.redefines-builtin-id]
    Disabled = true # TODO: consider enabling this
[rule.string-of-int]
    Disabled = false
[rule.struct-tag]
    Disabled = false
    arguments = ["json,inline"]
[rule.redundant-import-alias]
    Disabled = false
[rule.redundant-build-tag]
    Disabled = false
[rule.redundant-test-main-exit]
    Disabled = false
[rule.string-format]
    Disabled = true # TODO: interesting to check
[rule.superfluous-else]
    Disabled = false
[rule.time-equal]
    Disabled = false
[rule.time-naming]
    Disabled = false
[rule.var-naming]
    Disabled = true # TODO: rename variables correctly
[rule.var-declaration]
    Disabled = false
[rule.unchecked-type-assertion]
    Disabled = false
[rule.unconditional-recursion]
    Disabled = false
[rule.unexported-naming]
    Disabled = false
[rule.unexported-return]
    Disabled = true # TODO: consider enabling this
[rule.unhandled-error]
    Disabled = true # TODO: already being done by errcheck (change ?)
[rule.unnecessary-stmt]
    Disabled = true # TODO: consider enabling this
[rule.unreachable-code]
    Disabled = false
[rule.unused-parameter]
    Disabled = true # TODO: consider enabling this
[rule.unused-receiver]
    Disabled = true # TODO: consider enabling this
[rule.use-any]
    Disabled = true # TODO: should we rename interface{} to any ?
[rule.useless-break]
    Disabled = false
[rule.waitgroup-by-value]
    Disabled = false
[rule.use-errors-new]
    Disabled = false
