site_name: Tracee
site_url: https://aquasecurity.github.io/tracee/
site_description: Runtime security and forensics using eBPF.
docs_dir: docs
repo_name: GitHub
repo_url: https://github.com/aquasecurity/tracee
edit_uri: ""

nav:
    - Home: index.md
    - Docs:
          - Overview: docs/overview.md
          - Installation:
                - Overview: docs/install/index.md
                - Prerequisites: docs/install/prerequisites.md
                - Docker: docs/install/docker.md
                - Kubernetes: docs/install/kubernetes.md
                - Container Engines: docs/install/container-engines.md
                - Prometheus: docs/install/prometheus.md
                - Healthz: docs/install/healthz.md
                - Configure Tracee:
                      - Overview: docs/install/config/index.md
                      - CLI: docs/install/config/cli.md
                      - Kubernetes: docs/install/config/kubernetes.md
          - Events:
                - Overview: docs/events/index.md
                - Built-in Events:
                      - Security:
                            - Overview: docs/events/builtin/security-events.md
                            - Anti Debugging: docs/events/builtin/man/security/anti_debugging.md
                            - ASLR Inspection: docs/events/builtin/man/security/aslr_inspection.md
                            - Cgroup Notify-On-Release: docs/events/builtin/man/security/cgroup_notify_on_release_modification.md
                            - Cgroup Release-Agent: docs/events/builtin/man/security/cgroup_release_agent_modification.md
                            - Core Pattern Modification: docs/events/builtin/man/security/core_pattern_modification.md
                            - Default Loader Modification: docs/events/builtin/man/security/default_loader_modification.md
                            - Disk Mount: docs/events/builtin/man/security/disk_mount.md
                            - Docker Abuse: docs/events/builtin/man/security/docker_abuse.md
                            - Dropped Executable: docs/events/builtin/man/security/dropped_executable.md
                            - Dynamic Code Loading: docs/events/builtin/man/security/dynamic_code_loading.md
                            - Fileless Execution: docs/events/builtin/man/security/fileless_execution.md
                            - Hidden File Created: docs/events/builtin/man/security/hidden_file_created.md
                            - Illegitimate Shell: docs/events/builtin/man/security/illegitimate_shell.md
                            - K8S API Connection: docs/events/builtin/man/security/kubernetes_api_connection.md
                            - K8S Certificate Theft: docs/events/builtin/man/security/kubernetes_certificate_theft_attempt.md
                            - Kernel Module Loading: docs/events/builtin/man/security/kernel_module_loading.md
                            - Loader Preload: docs/events/builtin/man/security/ld_preload.md
                            - Process VM Write: docs/events/builtin/man/security/process_vm_write_code_injection.md
                            - Procfs File Ops Hooking: docs/events/builtin/man/security/proc_fops_hooking.md
                            - Procfs Kcore Read: docs/events/builtin/man/security/proc_kcore_read.md
                            - Procfs Mem Access: docs/events/builtin/man/security/proc_mem_access.md
                            - Procfs Mem Code Injection: docs/events/builtin/man/security/proc_mem_code_injection.md
                            - Ptrace Code Injection: docs/events/builtin/man/security/ptrace_code_injection.md
                            - RCD Modification: docs/events/builtin/man/security/rcd_modification.md
                            - Sched Debug: docs/events/builtin/man/security/sched_debug_recon.md
                            - Scheduled Task Modification: docs/events/builtin/man/security/scheduled_task_modification.md
                            - Stack Pivot: docs/events/builtin/man/security/stack_pivot.md
                            - Standard I/O Over Socket: docs/events/builtin/man/security/stdio_over_socket.md
                            - Sudoers Modification: docs/events/builtin/man/security/sudoers_modification.md
                            - Syscall Table Hooking: docs/events/builtin/man/security/syscall_table_hooking.md
                            - SysRQ Modification: docs/events/builtin/man/security/system_request_key_config_modification.md
                      - Network:
                            - Overview: docs/events/builtin/network-events.md
                            - net_flow_tcp_begin: docs/events/builtin/man/network/net_flow_tcp_begin.md
                            - net_flow_tcp_end: docs/events/builtin/man/network/net_flow_tcp_end.md
                            - net_packet_ipv4: docs/events/builtin/man/network/net_packet_ipv4.md
                            - net_packet_ipv6: docs/events/builtin/man/network/net_packet_ipv6.md
                            - net_packet_tcp: docs/events/builtin/man/network/net_packet_tcp.md
                            - net_packet_udp: docs/events/builtin/man/network/net_packet_udp.md
                            - net_packet_icmp: docs/events/builtin/man/network/net_packet_icmp.md
                            - net_packet_icmpv6: docs/events/builtin/man/network/net_packet_icmpv6.md
                            - net_packet_dns: docs/events/builtin/man/network/net_packet_dns.md
                            - net_packet_dns_request: docs/events/builtin/man/network/net_packet_dns_request.md
                            - net_packet_dns_response: docs/events/builtin/man/network/net_packet_dns_response.md
                            - net_packet_http: docs/events/builtin/man/network/net_packet_http.md
                            - net_packet_http_request: docs/events/builtin/man/network/net_packet_http_request.md
                            - net_packet_http_response: docs/events/builtin/man/network/net_packet_http_response.md
                      - LSM:
                            - security_bpf_prog: docs/events/builtin/man/lsm/security_bpf_prog.md
                            - security_bprm_check: docs/events/builtin/man/lsm/security_bprm_check.md
                            - security_file_mprotect: docs/events/builtin/man/lsm/security_file_mprotect.md
                            - security_inode_unlink: docs/events/builtin/man/lsm/security_inode_unlink.md
                            - security_path_notify: docs/events/builtin/man/lsm/security_path_notify.md
                            - security_sb_mount: docs/events/builtin/man/lsm/security_sb_mount.md
                            - security_sb_umount: docs/events/builtin/man/lsm/security_sb_umount.md
                            - security_settime64: docs/events/builtin/man/lsm/security_settime64.md
                            - security_socket_accept: docs/events/builtin/man/lsm/security_socket_accept.md
                            - security_socket_bind: docs/events/builtin/man/lsm/security_socket_bind.md
                            - security_socket_connect: docs/events/builtin/man/lsm/security_socket_connect.md
                            - security_socket_setsockopt: docs/events/builtin/man/lsm/security_socket_setsockopt.md
                            - security_task_setrlimit: docs/events/builtin/man/lsm/security_task_setrlimit.md
                      - Misc:
                            - bpf_attach: docs/events/builtin/man/misc/bpf_attach.md
                            - cgroup_mkdir: docs/events/builtin/man/misc/cgroup_mkdir.md
                            - cgroup_rmdir: docs/events/builtin/man/misc/cgroup_rmdir.md
                            - chmod_common: docs/events/builtin/man/misc/chmod_common.md
                            - container_create: docs/events/builtin/man/containers/container_create.md
                            - container_remove: docs/events/builtin/man/containers/container_remove.md
                            - do_sigaction: docs/events/builtin/man/misc/do_sigaction.md
                            - file_modification: docs/events/builtin/man/misc/file_modification.md
                            - ftrace_hook: docs/events/builtin/man/security/ftrace_hook.md
                            - hidden_kernel_module: docs/events/builtin/man/security/hidden_kernel_module.md
                            - hooked_syscall: docs/events/builtin/man/security/hooked_syscall.md
                            - kallsyms_lookup_name: docs/events/builtin/man/misc/kallsyms_lookup_name.md
                            - magic_write: docs/events/builtin/man/misc/magic_write.md
                            - mem_prot_alert: docs/events/builtin/man/security/mem_prot_alert.md
                            - net_tcp_connect: docs/events/builtin/man/misc/net_tcp_connect.md
                            - process_execute_failed: docs/events/builtin/man/misc/process_execute_failed.md
                            - sched_process_exec: docs/events/builtin/man/misc/sched_process_exec.md
                            - set_fs_pwd: docs/events/builtin/man/misc/set_fs_pwd.md
                            - suspicious_syscall_source: docs/events/builtin/man/security/suspicious_syscall_source.md
                            - symbols_collision: docs/events/builtin/man/misc/symbols_collision.md
                            - symbols_loaded: docs/events/builtin/man/security/symbols_loaded.md
                            - tracee_info: docs/events/builtin/man/misc/tracee_info.md
                            - vfs_read: docs/events/builtin/man/misc/vfs_read.md
                            - vfs_readv: docs/events/builtin/man/misc/vfs_readv.md
                      - Syscalls:
                            - Overview: docs/events/builtin/syscall-events.md
                - Custom Events:
                      - Overview: docs/events/custom/overview.md
                      - Go: docs/events/custom/golang.md
          - Policies:
                - Overview: docs/policies/index.md
                - Scopes: docs/policies/scopes.md
                - Rules: docs/policies/rules.md
                - Usage:
                      - CLI: docs/policies/usage/cli.md
                      - Kubernetes: docs/policies/usage/kubernetes.md
          - Outputs:
                - Overview: docs/outputs/index.md
                - Output Formats: docs/outputs/output-formats.md
                - Output Options: docs/outputs/output-options.md
                - Logging: docs/outputs/logging.md
          - Troubleshooting: docs/troubleshooting.md
          - Advanced:
                - Ordering Events: docs/advanced/ordering-events.md
                - Dropping Capabilities: docs/advanced/dropping-capabilities.md
                - Kernel Symbols: docs/advanced/ksyms.md
                - Secure Tracing: docs/advanced/secure-tracing.md
                - OS Info: docs/advanced/os-info.md
                - Mac FAQ: docs/advanced/mac.md
                - Forensics: docs/advanced/forensics.md
                - Data Sources:
                    - Overview: docs/advanced/data-sources/overview.md
                    - Custom: docs/advanced/data-sources/custom.md
                    - Write to a Data Source: docs/advanced/data-sources/write.md
                    - Builtin: 
                        - Containers: docs/advanced/data-sources/builtin/containers.md
                        - Process Tree: docs/advanced/data-sources/builtin/process-tree.md
                        - DNS Cache: docs/advanced/data-sources/builtin/dns.md
          - CLI Flags:
                - scope: docs/flags/scope.1.md
                - events: docs/flags/events.1.md
                - output: docs/flags/output.1.md
                - capture: docs/flags/capture.1.md
                - config: docs/flags/config.1.md
                - containers: docs/flags/containers.1.md
                - capabilities: docs/flags/capabilities.1.md
                - log: docs/flags/log.1.md
    - Traceectl: 
          - Overview: traceectl/index.md
          - Installation: traceectl/usage.md
          - Commands:
                - event: traceectl/commands/event.md
                - metrics: traceectl/commands/metrics.md
                - stream: traceectl/commands/stream.md
                - version: traceectl/commands/version.md
          - Flags:
                - output: traceectl/flags/output.md
                - format: traceectl/flags/format.md
                - server: traceectl/flags/server.md
                - policy: traceectl/flags/policy.md
    - Tutorials:
          - Overview: tutorials/overview.md
          - Cosign - verify Tracee signature: tutorials/verify-tracee-signature.md
          - Access Tracee Metrics in Grafana and Prometheus: tutorials/deploy-grafana-dashboard.md
          - Using Tracee Container Image with Vagrant on Mac: tutorials/tracee-vagrant.md
          - Working with Tracee's Policies on Kubernetes: tutorials/k8s-policies.md
          - Accessing Tracee Logs through Promtail and Loki: tutorials/promtail.md
          - Additional Resources: tutorials/additional-resources.md
    - Contributing:
          - Overview: contributing/overview.md
          - Guidelines: contributing/guidelines.md
          - PR Validation (Checkpatch): contributing/checkpatch.md
          - Adding New Events: contributing/adding-events.md
          - Code Coverage: contributing/testing-coverage.md
          - Performance: contributing/performance.md
          - Kubernetes: contributing/kubernetes.md
          - Setup Development Machine with Vagrant: contributing/setup-development-machine-with-vagrant.md
          - Building:
                - Building Tracee: contributing/building/building.md
                - Building Environment: contributing/building/environment.md
                - Building Containers: contributing/building/containers.md

theme:
    name: material
    language: "en"
    logo: images/tracee_logo_only.png
    features:
        - navigation.tabs
        - navigation.tabs.sticky
        - navigation.sections
        - content.tabs.link
        - content.code.copy

markdown_extensions:
    - pymdownx.highlight
    - pymdownx.superfences
    - admonition
    - toc:
          permalink: true

extra:
    generator: false
    version:
        method: mike
        provider: mike

plugins:
    - search
    - macros
