site_name: Tracee
site_url: https://aquasecurity.github.io/tracee/
site_description: Runtime security and forensics using eBPF.
docs_dir: docs/
repo_name: GitHub
repo_url: https://github.com/aquasecurity/tracee
edit_uri: ""

nav:
  - Getting Started: index.md
  - Installation:
    - Prerequisites: install/prerequisites.md
    - eBPF Compilation: install/ebpf-compilation.md
    - Linux Headers: install/headers.md
    - Kubernetes: install/kubernetes.md
    - Docker for Mac: install/docker-mac.md
  - Integrations: integrations.md
  - Configuration Options: config.md
  - Authoring Rules: rules-authoring.md
  - Available Rules: rules-index.md
  - FAQ: faq.md
  - Architecture: architecture.md
  - Tracing:
    - Getting Started: tracee-ebpf/index.md
    - Output Options: tracee-ebpf/output.md
    - Trace Options: tracee-ebpf/trace-options.md
    - Capturing Artifacts: tracee-ebpf/capture.md
    - Overriding OS needed files: tracee-ebpf/override-os-needed-files

theme:
    name: material
    language: 'en'
    logo: images/tracee_logo_only.png

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - admonition
  - toc:
      permalink: true

extra:
  generator: false
  version:
    method: mike
    provider: mike

plugins:
  - search
  - macros
