*** Detection ***
Time: {{ .Finding.Context.Timestamp | timeNow }}
Signature ID: {{ .ID }}
Signature: {{ .Name }}
Data: {{ .Finding.Data }}
Command: {{ .Finding.Context.ProcessName }}
Hostname: {{ .Finding.Context.HostName }}
