{"output":"Rule \"{{ .SigMetadata.Name }}\" detection:\n {{ .Data }}","rule":"{{ .SigMetadata.Name }}","time":"{{ dateInZone "2006-01-02T15:04:05Z" (now) "UTC" }}","output_fields":{"value": {{ .Context.ReturnValue }}}}