---
apiVersion: v1
kind: ConfigMap
metadata:
  name: tracee-config
  labels:
    {{- include "tracee.labels" . | nindent 4 }}
data:
  {{- if .Values.configFile }}
  config.yaml:
    {{- toYaml .Values.configFile | nindent 4 }}
  {{- else }}
  config.yaml: |-
    {{- if or .Values.config.kernelEvents .Values.config.kernelArtifacts .Values.config.kernelControlPlane .Values.config.pipeline }}
    buffers:
        {{- if or .Values.config.kernelEvents .Values.config.kernelArtifacts .Values.config.kernelControlPlane }}
        kernel:
            {{- if .Values.config.kernelEvents }}
            events: {{ .Values.config.kernelEvents }}
            {{- end }}
            {{- if .Values.config.kernelArtifacts }}
            artifacts: {{ .Values.config.kernelArtifacts }}
            {{- end }}
            {{- if .Values.config.kernelControlPlane }}
            control-plane: {{ .Values.config.kernelControlPlane }}
            {{- end }}
        {{- end }}
        {{- if .Values.config.pipeline }}
        pipeline: {{ .Values.config.pipeline }}
        {{- end }}
    {{- end }}
    healthz: {{ .Values.config.healthz }}
    metrics: {{ .Values.config.metrics }}
    pprof: {{ .Values.config.pprof }}
    pyroscope: {{ .Values.config.pyroscope }}
    listen-addr: {{ .Values.config.listenAddr }}
    {{- if .Values.config.workdir }}
    runtime:
      - workdir={{ .Values.config.workdir }}
    {{- end }}
    {{- if .Values.config.signaturesDir }}
    signatures-dir: {{ .Values.config.signaturesDir }}
    {{- end }}
    log:
        level: {{ .Values.config.log.level }}
        {{- if .Values.config.log.file }}
        file: {{ .Values.config.log.file }}
        {{- end }}
        {{- if .Values.config.log.aggregate }}
        aggregate:
            enabled: {{ .Values.config.log.aggregate.enabled | default false }}
            {{- if .Values.config.log.aggregate.flushInterval }}
            flush-interval: {{ .Values.config.log.aggregate.flushInterval }}
            {{- end }}
        {{- end }}
        {{- if .Values.config.log.filters }}
        filters:
            {{- if .Values.config.log.filters.libbpf }}
            libbpf: {{ .Values.config.log.filters.libbpf }}
            {{- end }}
            {{- if .Values.config.log.filters.include }}
            include:
                {{- if .Values.config.log.filters.include.msg }}
                msg:
                    {{- range .Values.config.log.filters.include.msg }}
                    - {{ . }}
                    {{- end }}
                {{- end }}
                {{- if .Values.config.log.filters.include.pkg }}
                pkg:
                    {{- range .Values.config.log.filters.include.pkg }}
                    - {{ . }}
                    {{- end }}
                {{- end }}
                {{- if .Values.config.log.filters.include.file }}
                file:
                    {{- range .Values.config.log.filters.include.file }}
                    - {{ . }}
                    {{- end }}
                {{- end }}
                {{- if .Values.config.log.filters.include.level }}
                level:
                    {{- range .Values.config.log.filters.include.level }}
                    - {{ . }}
                    {{- end }}
                {{- end }}
                {{- if .Values.config.log.filters.include.regex }}
                regex:
                    {{- range .Values.config.log.filters.include.regex }}
                    - {{ . }}
                    {{- end }}
                {{- end }}
                {{- if .Values.config.log.filters.include.libbpf }}
                libbpf: {{ .Values.config.log.filters.include.libbpf }}
                {{- end }}
            {{- end }}
            {{- if .Values.config.log.filters.exclude }}
            exclude:
                {{- if .Values.config.log.filters.exclude.msg }}
                msg:
                    {{- range .Values.config.log.filters.exclude.msg }}
                    - {{ . }}
                    {{- end }}
                {{- end }}
                {{- if .Values.config.log.filters.exclude.pkg }}
                pkg:
                    {{- range .Values.config.log.filters.exclude.pkg }}
                    - {{ . }}
                    {{- end }}
                {{- end }}
                {{- if .Values.config.log.filters.exclude.file }}
                file:
                    {{- range .Values.config.log.filters.exclude.file }}
                    - {{ . }}
                    {{- end }}
                {{- end }}
                {{- if .Values.config.log.filters.exclude.level }}
                level:
                    {{- range .Values.config.log.filters.exclude.level }}
                    - {{ . }}
                    {{- end }}
                {{- end }}
                {{- if .Values.config.log.filters.exclude.regex }}
                regex:
                    {{- range .Values.config.log.filters.exclude.regex }}
                    - {{ . }}
                    {{- end }}
                {{- end }}
            {{- end }}
        {{- end }}
    output:
        {{ .Values.config.output.format }}:
            files:
                - stdout
        options:
            parse-arguments: {{ .Values.config.output.options.parseArguments }}
            stack-addresses: {{ .Values.config.output.options.stackAddresses }}
            exec-env: {{ .Values.config.output.options.execEnv }}
            exec-hash: {{ .Values.config.output.options.execHash }}
            sort-events: {{ .Values.config.output.options.sortEvents }}
        {{- with .Values.config.output.webhook }}
        webhook:
            - {{ .name | default "webhook1" }}:
                protocol: {{ .protocol | default "http" }}
                host: {{ .host | default "localhost" }}
                port: {{ .port | default "8080" }}
                {{ if .timeout }}
                timeout: {{ .timeout }}
                {{- end }}
                gotemplate: {{ .goTemplate }}
                {{- if .contentType }}
                content-type: {{ .contentType }}
                {{- end }}
        {{- end }}
    {{- if or .Values.config.stores.dns.enabled .Values.config.stores.dns.maxEntries .Values.config.stores.process.enabled .Values.config.stores.process.maxProcesses .Values.config.stores.process.maxThreads .Values.config.stores.process.source .Values.config.stores.process.useProcfs }}
    stores:
        {{- if or .Values.config.stores.dns.enabled .Values.config.stores.dns.maxEntries }}
        dns:
            {{- if .Values.config.stores.dns.enabled }}
            enabled: {{ .Values.config.stores.dns.enabled }}
            {{- end }}
            {{- if .Values.config.stores.dns.maxEntries }}
            max-entries: {{ .Values.config.stores.dns.maxEntries }}
            {{- end }}
        {{- end }}
        {{- if or .Values.config.stores.process.enabled .Values.config.stores.process.maxProcesses .Values.config.stores.process.maxThreads .Values.config.stores.process.source .Values.config.stores.process.useProcfs }}
        process:
            {{- if .Values.config.stores.process.enabled }}
            enabled: {{ .Values.config.stores.process.enabled }}
            {{- end }}
            {{- if .Values.config.stores.process.maxProcesses }}
            max-processes: {{ .Values.config.stores.process.maxProcesses }}
            {{- end }}
            {{- if .Values.config.stores.process.maxThreads }}
            max-threads: {{ .Values.config.stores.process.maxThreads }}
            {{- end }}
            {{- if .Values.config.stores.process.source }}
            source: {{ .Values.config.stores.process.source }}
            {{- end }}
            {{- if .Values.config.stores.process.useProcfs }}
            use-procfs: {{ .Values.config.stores.process.useProcfs }}
            {{- end }}
        {{- end }}
    {{- end }}
  {{- end }}
