buffers:
    kernel:
        events: 1024
        artifacts: 1024
        control-plane: 1024
    pipeline: 1000
cache:
    type: none
    # size: 1024

capture:
  #- write
  #- exec
  #- network

policy:
  - /path/to/policy.yaml
  #- /path/to/policy-directory

stores:
    process:
        enabled: false
        source: signals
        # max-processes: 8192
        # max-threads: 4096
    dns:
        enabled: false
        # max-entries: 5000

capabilities:
    bypass: false
    # add:
    #     - cap_sys_admin
    #     - cap_syslog
    # drop:
    #     - cap_chown

metrics-endpoint: true

server:
    http-address: "127.0.0.1:8080"
    grpc-address: "unix:/var/run/tracee.sock"
    metrics: true
    healthz: true
    pprof: true
    pyroscope: true

enrichment:
    # CLI flags format:
    # - container
    # - container.cgroupfs.path=/host/sys/fs/cgroup
    # - container.cgroupfs.force
    # - container.docker.socket=/var/run/docker.sock
    # - container.containerd.socket=/var/run/containerd/containerd.sock
    # - container.crio.socket=/var/run/crio/crio.sock
    # - container.podman.socket=/var/run/podman/podman.sock
    # - resolve-fd
    # - exec-hash
    # - exec-hash.mode=sha256
    # - user-stack-trace
    #
    # Structured format:
    # container:
    #     enabled: true
    #     cgroupfs:
    #         path: /host/sys/fs/cgroup
    #         force: false
    #     docker-socket: /var/run/docker.sock
    #     containerd-socket: /var/run/containerd/containerd.sock
    #     crio-socket: /var/run/crio/crio.sock
    #     podman-socket: /var/run/podman/podman.sock
    # resolve-fd: true
    # exec-hash:
    #     enabled: true
    #     mode: sha256
    # user-stack-trace: true

events:
  #- open
  #- execve

healthz: false

runtime:
  - workdir=/tmp/tracee

listen-addr: :3366

logging:
    level: info
    # file: "/path/to/log/file.log"
    # aggregate:
    #     enabled: true
    #     flush-interval: "5s"
    # filters:
    #     libbpf: false
    #     include:
    #         msg:
    #             - SampleMessage1
    #             - SampleMessage2
    #         pkg:
    #             - package1
    #             - package2
    #         file:
    #             - file1.go
    #             - file2.go
    #         level:
    #             - warn
    #             - error
    #         regex:
    #             - ^pattern1
    #             - ^pattern2
    #     exclude:
    #         msg:
    #             - ExcludedMessage1
    #         pkg:
    #             - excludedPackage
    #         file:
    #             - excludedFile.go
    #         level:
    #             - debug
    #         regex:
    #             - ^excludedPattern

scope:  
  #- uid=1000
  #- global
  #- pid=1000
  #- mntns=4026531840
  #- pidns=4026531836    
  #- uts=ab356bc4dd554
  #- comm=uname
  #- container
  #- not-container
  #- tree=1000
  #- executable=/usr/bin/dig
  #- follow

metrics: false

output:
    # destinations:
    #   - name: destination_name
    #     type: file | webhook | forward
    #     path: path in case of type == file
    #     url: url in case of type == webhook or type == forward
    #     format: json | gotemplate=/path/to/template.tpl | table | table-verbose
    
    # streams:
    #   - name: stream_name
    #     destinations: 
    #       - destination_name
    #     filters:
    #       events:
    #         - event_to_filter
    #       policies:
    #         - policy_to_filter
    #     buffer:
    #       mode: drop
    #       size: 1024

    # options:
    #     none: false
    #     stack-addresses: true
    #     exec-env: false
    #     exec-hash: dev-inode
    #     parse-arguments: true
    #     sort-events: false


pprof: false

pyroscope: false

signatures-dir: ""
