buffers:
    kernel:
        events: 1024
        artifacts: 1024
        control-plane: 1024
    pipeline: 1000
cache:
    type: none
    # size: 1024

capture:
  #- write
  #- exec
  #- network

policy:
  - /path/to/policy.yaml
  #- /path/to/policy-directory

stores:
    process:
        enabled: false
        source: signals
        # max-processes: 8192
        # max-threads: 4096
    dns:
        enabled: false
        # max-entries: 5000

capabilities:
    bypass: false
    # add:
    #     - cap_sys_admin
    #     - cap_syslog
    # drop:
    #     - cap_chown

metrics-endpoint: true

server:
    http-address: "127.0.0.1:8080"
    grpc-address: "unix:/var/run/tracee.sock"
    metrics: true
    healthz: true
    pprof: true
    pyroscope: true

containers:
    enrich: false
    # enrich: true
    # cgroupfs:
    #     path: /host/sys/fs/cgroup
    #     force: true
    # sockets:
    #     - runtime: containerd
    #       socket: /var/run/containerd/containerd.sock
    #     - runtime: docker
    #       socket: /var/run/docker.sock

events:
  #- open
  #- execve

healthz: false

runtime:
  - workdir=/tmp/tracee

listen-addr: :3366

logging:
    level: info
    # file: "/path/to/log/file.log"
    # aggregate:
    #     enabled: true
    #     flush-interval: "5s"
    # filters:
    #     libbpf: false
    #     include:
    #         msg:
    #             - SampleMessage1
    #             - SampleMessage2
    #         pkg:
    #             - package1
    #             - package2
    #         file:
    #             - file1.go
    #             - file2.go
    #         level:
    #             - warn
    #             - error
    #         regex:
    #             - ^pattern1
    #             - ^pattern2
    #     exclude:
    #         msg:
    #             - ExcludedMessage1
    #         pkg:
    #             - excludedPackage
    #         file:
    #             - excludedFile.go
    #         level:
    #             - debug
    #         regex:
    #             - ^excludedPattern

scope:  
  #- uid=1000
  #- global
  #- pid=1000
  #- mntns=4026531840
  #- pidns=4026531836    
  #- uts=ab356bc4dd554
  #- comm=uname
  #- container
  #- not-container
  #- tree=1000
  #- executable=/usr/bin/dig
  #- follow

metrics: false

output:
    json:
        files:
            - stdout

    # table:
    #     files:
    #         - /path/to/table1.out
    #         - /path/to/table2.out

    # table-verbose:
    #     files:
    #         - stdout

    # gotemplate:
    #     template: /path/to/my_template1.tmpl
    #     files:
    #         - /path/to/output1.out
    #         - /path/to/output2.out

    # forward:
    #     - forward1:
    #         protocol: tcp
    #         user: user
    #         password: pass
    #         host: 127.0.0.1
    #         port: 24224
    #         tag: tracee1
    #     - forward2:
    #         protocol: udp
    #         user: user
    #         password: pass
    #         host: 127.0.0.1
    #         port: 24225
    #         tag: tracee2

    # webhook:
    #     - webhook1:
    #         protocol: http
    #         host: localhost
    #         port: 8000
    #         timeout: 5s
    #         gotemplate: /path/to/template/test.tmpl
    #         content-type: application/json
    #     - webhook2:
    #         protocol: http
    #         host: localhost
    #         port: 9000
    #         timeout: 3s
    #         gotemplate: /path/to/template/test.tmpl
    #         content-type: application/json

    # options:
    #     none: false
    #     stack-addresses: true
    #     exec-env: false
    #     exec-hash: dev-inode
    #     parse-arguments: true
    #     sort-events: false


pprof: false

pyroscope: false

signatures-dir: ""
