Source: tracee
Section: net
Priority: optional
Maintainer: Rafael David Tinoco <rafaeldtinoco@ubuntu.com>
XSBC-Original-Maintainer: Rafael David Tinoco <rafaeldtinoco@ubuntu.com>
Uploaders: Rafael David Tinoco <rafaeldtinoco@ubuntu.com>
Build-Depends: debhelper,
               dh-exec,
               dpkg-dev,
               git,
               pkg-config,
               libelf-dev,
               zlib1g-dev
Standards-Version: 4.5.0
Vcs-Git: https://github.com/aquasecurity/tracee.git
Homepage: https://www.aquasec.com/products/tracee/
Rules-Requires-Root: no

Package: tracee
Architecture: amd64 arm64
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libelf1,
         zlib1g
Conflicts: tracee-rules
Description: Tracee: Security and Forensics Tool
 Tracee is a Runtime Security and forensics tool for Linux. It uses Linux eBPF
 technology to trace your system and applications at runtime, and analyze
 collected events to detect suspicious behavioral patterns.

Package: tracee-ebpf
Architecture: amd64 arm64
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libelf1,
         zlib1g
Description: Tracee eBPF: Security and Forensics Tool
 Tracee is a Runtime Security and forensics tool for Linux. It uses Linux eBPF
 technology to trace your system and applications at runtime, and analyze
 collected events to detect suspicious behavioral patterns. Use it with
 tracee-rules to have a complete security runtime detection system.

Package: tracee-rules
Architecture: amd64 arm64
Depends: ${misc:Depends},
         ${shlibs:Depends},
         tracee-ebpf (= ${binary:Version})
Conflicts: tracee
Description: Tracee Rules: Tracee Runtime Security Detection Engine
 Tracee is a Runtime Security and forensics tool for Linux. It uses Linux eBPF
 technology, to trace your system and applications at runtime, and analyzes
 collected events to detect suspicious behavioral patterns. Tracee rules is the
 tool that receives events from Tracee eBPF and, according to defined
 signatures (REGO or Golang), warn about suspicious behavior.
