#
# When a PR is opened: Automatically assign author
#
name: "Auto Assign"
on:
  #issues:
  #  types: [opened, reopened]
  pull_request_target:
    types: [opened, reopened]
permissions:
  #issues: write
  pull-requests: write
jobs:
  assign:
    name: Assign Author
    runs-on: ubuntu-24.04
    steps:
      - uses: toshimaru/auto-author-assign@4d585cc37690897bd9015942ed6e766aa7cdb97f # v3.0.1
