#
# When a PR is opened: Automatically assign author
#
name: "Auto Assign"
on:
  #issues:
  #  types: [opened, reopened]
  pull_request_target:
    types: [opened, reopened]
permissions:
  #issues: write
  pull-requests: write
jobs:
  assign:
    name: Assign Author
    runs-on: ubuntu-latest
    steps:
      - uses: toshimaru/auto-author-assign@ebd30f10fb56e46eb0759a14951f36991426fed0 # v2.1.0
