name: build-test

on: push

jobs:
  build:
    runs-on: ubuntu-20.04

    env:
      CGO_ENABLED: "1"

    steps:
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.15
        id: go

      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Lint
        run: |
          if test -z "$(gofmt -l .)"; then
            echo "Congrats! There is nothing to fix."
          else
            echo "The following lines should be fixed."
            gofmt -s -d .
            exit 1
          fi

      - name: Run Tests
        run: make test

      - name: Build Tracee
        run: make build-docker
