name: pr-ebpf
on: 
  pull_request:
    paths: 
      - "tracee-ebpf/**"
jobs:
  build:
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: tracee-ebpf
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Lint
        run: |
          if test -z "$(gofmt -l .)"; then
            echo "Congrats! There is nothing to fix."
          else
            echo "The following lines should be fixed."
            gofmt -s -d .
            exit 1
          fi
      - name: Build Tracee
        run: make all DOCKER=1
  test:
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: tracee-ebpf
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Run Tests
        run: make test DOCKER=1
