name: pr-ebpf
on: 
  pull_request:
    paths: 
      - "tracee-ebpf/**"
jobs:
  build-test:
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
            os: [ubuntu-20.04]
    defaults:
      run:
        working-directory: tracee-ebpf
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Lint
        run: |
          if test -z "$(gofmt -l .)"; then
            echo "Congrats! There is nothing to fix."
          else
            echo "The following lines should be fixed."
            gofmt -s -d .
            exit 1
          fi
      - name: Build
        run: DOCKER_BUILDKIT=1 make all DOCKER=1
      - name: Build CO:RE
        run: DOCKER_BUILDKIT=1 make all DOCKER=1 CORE=y
      - name: Test
        run: DOCKER_BUILDKIT=1 make test DOCKER=1
