---
# The PR workflow is triggered automatically whenever a pull request (PR) is
# opened to the main branch. It's also triggered when a PR is updated by adding
# commits to the PR branch.
name: PR
on:
  pull_request:
    branches:
      - main
env:
  GO_VERSION: "1.16"
  OPA_VERSION: "v0.35.0"
jobs:
  verify-code:
    name: Verify Code
    runs-on: ubuntu-20.04
    steps:
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Lint
        run: |
          if test -z "$(gofmt -l .)"; then
            echo "Congrats! There is nothing to fix."
          else
            echo "The following lines should be fixed."
            gofmt -s -d .
            exit 1
          fi
  verify-tracee-ebpf:
    name: Verify tracee-ebpf
    needs:
      - verify-code
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install Dependencies
        uses: ./.github/actions/build-dependencies
        with:
          go-version: ${{ env.GO_VERSION }}
          opa-version: ${{ env.OPA_VERSION }}
      - name: Build tracee-ebpf
        run: |
          make -f Makefile.one tracee-ebpf
      - name: Test tracee-ebpf
        run: |
          make -f Makefile.one test-tracee-ebpf
  verify-tracee-rules:
    name: Verify tracee-rules
    needs:
      - verify-code
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install Dependencies
        uses: ./.github/actions/build-dependencies
        with:
          go-version: ${{ env.GO_VERSION }}
          opa-version: ${{ env.OPA_VERSION }}
      - name: Build tracee-rules
        run: |
          make -f Makefile.one tracee-rules
      - name: Test tracee-rules
        run: |
          make -f Makefile.one test-tracee-rules
  verify-signatures:
    name: Verify Signatures
    needs:
      - verify-code
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install Dependencies
        uses: ./.github/actions/build-dependencies
        with:
          go-version: ${{ env.GO_VERSION }}
          opa-version: ${{ env.OPA_VERSION }}
      - name: Build Signatures
        run: |
          make -f Makefile.one rules
      - name: Test Signatures
        run: |
          make -f Makefile.one test-rules
  release-snapshot:
    name: Release Snapshot
    needs:
      - verify-tracee-ebpf
      - verify-tracee-rules
      - verify-signatures
      - deprecated-verify-tracee-ebpf
      - deprecated-verify-tracee-rules
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install Dependencies
        uses: ./.github/actions/build-dependencies
        with:
          go-version: ${{ env.GO_VERSION }}
          opa-version: ${{ env.OPA_VERSION }}
      - name: Build
        run: |
          make
      - name: Build in Docker
        run: |
          make DOCKER=1
      - name: Build Docker Image
        run: |
          make docker
      - name: Scan Docker Image for Vulnerabilities
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "tracee:latest"
          severity: "CRITICAL"
          exit-code: "1"
      - name: Build Slim Docker Image
        run: |
          make docker-slim
      - name: Scan Slim Docker Image for Vulnerabilities
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "tracee:slim"
          severity: "CRITICAL"
          exit-code: "1"



  # deprecated-verify-tracee-ebpf and deprecated-verify-tracee-rules jobs are
  # supposed to be removed once we fully migrate to Makefile.one and get rid of
  # tracee-ebpf/Makefile and tracee-rules/Makefile. We run them on each PR
  # verification workflow to make sure that Make targets are backward compatible.
  deprecated-verify-tracee-ebpf:
    name: "[DEPRECATED] Verify tracee-ebpf"
    needs:
      - verify-code
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install Dependencies
        uses: ./.github/actions/build-dependencies
        with:
          go-version: ${{ env.GO_VERSION }}
          opa-version: ${{ env.OPA_VERSION }}
      - name: Build and test tracee-ebpf
        run: |
          make -C tracee-ebpf/ all
          make -C tracee-ebpf/ test
      - name: Build and test tracee-ebpf in Docker
        run: |
          make -C tracee-ebpf/ all DOCKER=1
          make -C tracee-ebpf/ test DOCKER=1

  deprecated-verify-tracee-rules:
    name: "[DEPRECATED] Verify tracee-rules"
    needs:
      - verify-code
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install Dependencies
        uses: ./.github/actions/build-dependencies
        with:
          go-version: ${{ env.GO_VERSION }}
          opa-version: ${{ env.OPA_VERSION }}
      - name: Build tracee-rules
        run: |
          make -C tracee-rules/ build
      - name: Build Signatures
        run: |
          make -C tracee-rules/ rules
      - name: Test tracee-rules
        run: |
          make -C tracee-rules/ test
      - name: Test tracee-rules in Docker
        run: |
          make -C tracee-rules/ test DOCKER=1
