---
name: PR
on:
  workflow_dispatch: {}
  pull_request:
    branches:
      - main
env:
  TESTS: "TRC-102 TRC-103 TRC-104 TRC-105 TRC-107 TRC-1018 TRC-1014 TRC-1016 TRC-1010"
  NETTESTS: "IPv4 IPv6 TCP UDP ICMP ICMPv6 DNS HTTP"
  INSTTESTS: "FILE_MODIFICATION"
jobs:
  verify-code:
    name: Verify Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install Dependencies
        uses: ./.github/actions/build-dependencies
      - name: Lint
        run: |
          if test -z "$(gofmt -l .)"; then
            echo "Congrats! There is nothing to fix."
          else
            echo "The following lines should be fixed."
            gofmt -s -d .
            exit 1
          fi
  analyze-code:
    name: Analyze Code
    needs:
      - verify-code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install Dependencies
        uses: ./.github/actions/build-dependencies
      - name: Check Code Style
        run: |
          make check-fmt
      - name: Check Golang Vet
        run: |
          make check-vet
      - name: Check with StaticCheck
        run: |
          make check-staticcheck
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install Dependencies
        uses: ./.github/actions/build-dependencies
      - name: Run Unit Tests
        run: |
          make test-unit
  integration-tests:
    name: Integration Tests
    needs:
      - analyze-code
      - unit-tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install Dependencies
        uses: ./.github/actions/build-dependencies
      - name: Run Integration Tests
        run: |
          sudo env "PATH=$PATH" make test-integration
  verify-signatures:
    name: Verify Signatures
    needs:
      - analyze-code
      - unit-tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install Dependencies
        uses: ./.github/actions/build-dependencies
      - name: Build Signatures
        run: |
          make rules
      - name: Test Signatures
        run: |
          make test-rules
  CORE:
    needs:
      - analyze-code
      - unit-tests
    strategy:
      fail-fast: false
      matrix:
        os: [focal54, focal513, jammy515, kinetic519, stream8, kinetic60]
    runs-on: ${{ matrix.os }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: "CORE"
        run: |
          DONTSLEEP=0 ISNONCORE=0 ./tests/kerneltest.sh
      - name: "NETWORK"
        run: |
          DONTSLEEP=0 ISNONCORE=0 ./tests/e2e-net-test.sh
      - name: "INSTRUMENTATION"
        run: |
          DONTSLEEP=0 ISNONCORE=0 ./tests/e2e-instrumentation-test.sh
  NONCORE:
    needs:
      - analyze-code
      - unit-tests
    strategy:
      fail-fast: false
      matrix:
        os: [focal54, focal513, jammy515, kinetic519, stream8, kinetic60, focal419]
    runs-on: ${{ matrix.os }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: "NONCORE"
        run: |
          DONTSLEEP=0 ISNONCORE=1 ./tests/kerneltest.sh
      - name: "NETWORK"
        run: |
          DONTSLEEP=0 ISNONCORE=1 ./tests/e2e-net-test.sh
      - name: "INSTRUMENTATION"
        run: |
          DONTSLEEP=0 ISNONCORE=1 ./tests/e2e-instrumentation-test.sh
