#
# On cron schedule or on demand: Release snapshot
#
# This workflow ensures that the main branch is ready for release and that all
# build configuration files are valid. Also scans tracee container images for
# vulnerabilities, and publishes to DockerHub as aquasec/tracee:dev.
#
name: Release Snapshot
on:
  workflow_dispatch: {}
  schedule:
    # Daily at 05:00
    - cron: "0 5 * * *"
jobs:
  release-snapshot-x86_64:
    name: Release Snapshot (x86_64)
    runs-on: 
      - graas_ami-0cdf7ad6d9627da45_${{ github.event.number }}${{ github.run_attempt }}-${{ github.run_id }}
      - EXECUTION_TYPE=LONG
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          submodules: true
          fetch-depth: 0
      - name: Login to docker.io registry
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build
        run: |
          make -f builder/Makefile.release snapshot
      - name: Publish to docker.io registry
        run: |
          docker image tag tracee:dev aquasec/tracee:x86_64-dev
          docker image push aquasec/tracee:x86_64-dev
        shell: bash
      - name: Scan Docker Image for Vulnerabilities
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "aquasec/tracee:x86_64-dev"
          severity: "CRITICAL,HIGH"
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'
  release-snapshot-aarch64:
    name: Release Snapshot (aarch64)
    runs-on: 
      - graas_ami-07740487fa433aa54_${{ github.event.number }}${{ github.run_attempt }}-${{ github.run_id }}
      - EXECUTION_TYPE=LONG
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          submodules: true
          fetch-depth: 0
      - name: Login to docker.io registry
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build
        run: |
          make -f builder/Makefile.release snapshot
      - name: Publish to docker.io registry
        run: |
          docker image tag tracee:dev aquasec/tracee:aarch64-dev
          docker image push aquasec/tracee:aarch64-dev
        shell: bash
      - name: Scan Docker Image for Vulnerabilities
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "aquasec/tracee:aarch64-dev"
          severity: "CRITICAL,HIGH"
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'
  release-snapshot:
    name: Release Snapshot
    needs: [release-snapshot-x86_64, release-snapshot-aarch64]
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          submodules: true
          fetch-depth: 0
      - name: Login to docker.io registry
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Publish to docker.io registry
        run: |
          export DOCKER_CLI_EXPERIMENTAL=enabled
          docker manifest create aquasec/tracee:dev \
            aquasec/tracee:x86_64-dev \
            aquasec/tracee:aarch64-dev
          docker manifest push aquasec/tracee:dev

          timestamp=$(date +%Y%m%d-%H%M%S%Z)
          docker manifest create aquasec/tracee:dev-$timestamp \
            aquasec/tracee:x86_64-dev \
            aquasec/tracee:aarch64-dev
          docker manifest push aquasec/tracee:dev-$timestamp
        shell: bash
