#
# Daily Test: Test latest libbpfgo
#
name: Libbpfgo Test
on:
  workflow_dispatch: {}
  schedule:
    # Daily At 03:00
    - cron: "0 3 * * *"
  workflow_call:
jobs:
  compile-tracee:
    name: Test Latest libbpfgo
    runs-on: ubuntu-24.04
    container:
      image: alpine/git:2.49.1@sha256:bd54f921f6d803dfa3a4fe14b7defe36df1b71349a3e416547e333aa960f86e3
    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
      - name: Fix Git ownership
        run: git config --global --add safe.directory $GITHUB_WORKSPACE
        shell: sh
      - name: Install Dependencies
        run: ./scripts/installation/install-deps-alpine.sh
        shell: sh
      - name: Compile Tracee
        run: |
          make test-upstream-libbpfgo
