name: Tests (DAILY)

on:
  workflow_dispatch: {}
  schedule:
    # Daily at 03:00
    - cron: '0 3 * * *'
  workflow_call:

env:
  GO_VERSION: "1.19"
  OPA_VERSION: "v0.41.0"

jobs:
  compile-tracee:
    name: Test Latest libbpfgo
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install Dependencies
        uses: ./.github/actions/build-dependencies
        with:
          go-version: ${{ env.GO_VERSION }}
          opa-version: ${{ env.OPA_VERSION }}
      - name: Compile Tracee
        run: |
          make test-upstream-libbpfgo
